<div
  class="m-activity__remindUsers"
  *ngIf="entity.remind_users && entity.remind_users.length > 0"
>
  <i class="material-icons">repeat</i>
  <span>Reminded by </span>
  <ng-container *ngFor="let reminder of entity.remind_users; let i = index">
    <a [routerLink]="['/', reminder.username]">
      {{ reminder.name | excerpt: 50 }}
    </a>
  </ng-container>
</div>

<div
  class="m-activity__ownerBlock"
  [ngClass]="{ 'm-activity__ownerBlock--minimalMode': minimalMode }"
>
  <div class="m-activityOwnerBlock__avatar" [hovercard]="owner">
    <a [routerLink]="['/', username]">
      <img [src]="avatarUrl" class="m-border" />
    </a>
    <div
      *ngIf="minimalMode"
      class="m-activityOwnerBlock__remindIcon--minimalMode"
    >
      <i class="material-icons">repeat</i>
    </div>
  </div>

  <div class="m-activityOwnerBlock__body">
    <a class="m-activityOwnerBlock__displayName" [routerLink]="['/', username]">
      <strong [title]="displayName">{{ displayName }}</strong>
      <m-channel--badges
        class="m-channel--badges-activity"
        [user]="owner"
        badges="[ 'admin', 'verified' ]"
      ></m-channel--badges>
    </a>
    <ng-container *ngIf="group">
      <!-- Show group name-->
      <a
        [routerLink]="['/groups/profile', group.guid]"
        class="m-activityOwnerBlock__groupName"
      >
        <strong>({{ group.name }})</strong>
      </a>
    </ng-container>
    <ng-container>
      <!-- Perma link to post -->
      <a
        [routerLink]="service.canonicalUrl$ | async"
        class="m-activityOwnerBlock__permalink"
      >
        <m-relativeTimeSpan
          class="m-activityOwnerBlockPermalink__text"
          *ngIf="!isScheduled() && isFeed; else absoluteDate"
          [entity]="entity"
        ></m-relativeTimeSpan>
        <ng-template #absoluteDate>
          <div class="m-activityOwnerBlockPermalink__text">
            <i *ngIf="isScheduled()" class="material-icons">schedule</i>
            <span> {{ toReadableDate(entity.time_created) }} </span>
          </div>
        </ng-template>
        <span
          *ngIf="
            service.displayOptions.showEditedTag && (service.isEdited$ | async)
          "
          class="m-activityOwnerBlockPermalink__text--edited"
          i18n="@@M__COMMON__EDITED"
          >edited</span
        >
        <ng-template [ngTemplateOutlet]="boostedTag"></ng-template>
        <div
          class="m-activityOwnerBlockPermalink__text--visibility"
          *ngIf="
            service.displayOptions.showVisibilityState &&
            (service.isUnlisted$ | async)
          "
        >
          <i class="material-icons unlisted">visibility_off</i>
          <a i18n="@@OWNER_BLOCK__UNLISTED">Unlisted</a>
        </div>
      </a>
    </ng-container>
  </div>

  <div class="m-activityOwnerBlock__right">
    <ng-content select=".m-activityOwnerBlock__right"></ng-content>
  </div>
</div>

<ng-template #boostedTag>
  <div
    class="mdl-card__supporting-text is-boosted"
    *ngIf="service.isBoosted$ | async"
    [class.is-onchain]="entity.boosted_onchain"
  >
    <i class="material-icons">trending_up</i>
    <a
      i18n="@@MINDS__CARDS__ACTIVITY__BOOSTED_LABEL"
      [hidden]="entity.boosted_onchain"
      >Boosted</a
    >
    <a
      i18n="@@MINDS__CARDS__ACTIVITY__BOOSTED_LABEL_ONCHAIN"
      [hidden]="!entity.boosted_onchain"
      [routerLink]="['/token']"
      >Boosted Onchain</a
    >
  </div>
</ng-template>
